div#gameDiv {
	width: 650px;
	height: 800px;
	display:none;
}

div#canvasDiv {
	width: 500px;
	height: 500px;
	display: inline;
}

div#chat-text {
	margin-top: 510px;
	width: 500px;
	height: 100px;
	overflow-y: scroll;
}

div#turn-text {
	margin-top: 20px;
}

canvas {
	position: absolute;
	border-radius: 1px;
	border-color: #000000;
	border-style: solid;
}